
@{
    ViewBag.Title = "ParadigmUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Danh sách chi tiết phân tầng
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="m_datatable" id="ajax_data">
            <div class="row col-12">
                <div class="title-main col-12">
                    <div class="">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

